.about{
    font-family: var(--content_font);
    font-size: 2vw;
    font-weight:500;
    color: var(font_color);
}

.about > p{
    margin: 1rem;
}

.tech_list{
    display: flex;
    justify-content:space-evenly;
    list-style-type: disc;

}

.tech_item{
    margin-left: 2vw;
    font-size: 1.2vw;
}





  
 
 