
@font-face {
    font-family: "antiqua-roman";
    src: url('/fonts/antiqua-roman/antiqua_roman_regular-webfont.woff2');
}
    
:root{
    --background_color: rgb(170,156,146);
    --font_color: black;
    --cursor_size: unset;
    --cursor_sizeborder: unset;
    --cursor_color:rgb(170,156,146);
    --cursor_clickColor: black;
    --cursor_color_clicked:rgb(170,156,146,10);
    --border-color:#ece7e1; ;
    --header_font: 'antiqua-roman';
    --content_font:'Rajdhani';
    cursor: none;
    scroll-behavior: smooth;
    text-underline-offset: 0.4vw;
}

::selection {
    color: var(--background_color);
    background-color: var(--font_color);
}


body{
    background-color: var(--background_color);
    color: var(--font_color);   
    transition: 1s;
}

::-webkit-scrollbar {
    display: none;
}

.cursor{
    position:absolute;
    z-index: 1000;
    width: var(--cursor_size);
    height: var(--cursor_size);
    border-radius: 50%;
    background-color:var(--cursor_color);
    transition-timing-function: ease-out;
    transition-duration: 100ms;
    mix-blend-mode: difference !important;
    pointer-events: none;
    padding: var(--cursor_sizeborder);
    background-clip: content-box;
}

.cursor.clicked{
    opacity: 20%;
    transform: scale(2);
    transform-origin: center center;
    mix-blend-mode: difference;
    background-clip: initial;
}

a{
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}
a:visited{
    color:var(--font_color);
    cursor: none;
}

a:hover,
.nav_link.active {
    background-color:var(--font_color);
    color:var(--background_color);
    cursor: none;
    padding: .5vw;
}

#right_line{
    background-color:var(--font_color);
    width: .1vw;
    margin-left: 98vw;
    top: 1vw;
    position: fixed;
    bottom: 1vw;
    top:1vw;
}

#darkMode_btn{
    background-color:var(--background_color); 
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    border: none;
    transform: rotate(90deg);
    top: 80%;
    color: var(--font_color);
    padding-left: .5vw;
    padding-right: .5vw;
    right:0vw;
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}

#darkMode_btn:hover{
    background-color:var(--font_color);
    color:var(--background_color);
    cursor: none;
    padding: .5vw;
}

.nav_left{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

#left_line{
    background-color:var(--font_color);
    width: .1vw;
    margin-left: 2vw;
    top: 1vw;
    position: fixed;
    bottom: 1vw;
    top:1vw;
}

.nav_link{
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin-left: 1.2vw;
    font-size: 1.2vw;
    text-decoration: none;
    background-color: var(--background_color);
    padding-top: .5vw;
    padding-bottom: .5vw;
    color: var(--font_color);
}

.container{
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 4%;
}

.title{
    font-size: 4.5vw;
    font-family: var(--header_font);
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    padding-top: 3vw;
}

